@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.body_survey{
width: 1440px;
height: 1024px;
background-color: #F9F9F9;

}

.container_survey{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#FFFFFF;
    border-radius: 20px;
    /* border-color: black;
    border-width: 5px;
    border-style: dashed; */
    width: 470px;
    height: 730px;
    position: absolute;
    top: 136px;
    left: 485px;
}

.container_survey-questions {
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 62px;
    margin-left: 27px;
    margin: 16px;
  }


  .container_survey-question {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 10px;
  }

  .container_survey-question input[type="radio"]:checked + label {
    background-color: #000000;
    color: white;
  }


  .date_component{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }

  .container__enviar--button{
    width: 117px;
    height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #FF6600;
    text-align: center;
    color: #F9F9F9;
    border: none;
    padding: 9px, 17px, 9px, 17px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 20px;
  }


  .survey_close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

  }
  .survey_close h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

  }
  .survey_label{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#6B7280;
    font-size: 14px;

  }
  .survey_close--btn{
    width: 30px;
    height: 30px;
    font-size: 12px;
    border: none;
    color: #6B7280;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /* background-color: #FF6600; */
  }

  .container__enviar--button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
